*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size:14px;
    background-color: #f3f2f2;
    background-image: url('Images/SAFETY.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: calc(100vh - 60px);
    position: relative;
    z-index:-1;
}
ol li,
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width:100%;
}
.container-fluid{
    width:100%;
    margin:auto;
}
.w-50{
    width:50%;
}
header{
    background-color: #fff;
    height:60px;
    display: flex;
    align-items: center;
}
header .logo{
    float:left;
    padding:10px 0px;
    width:10%;
    text-align: center;
}
header .logo img{
    max-width:70%;
}
.header_shadow{
    box-shadow:0px 2px 10px rgba(0,0,0,.04)
}
.menu-toggle{
    float:left;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    padding-top:15px;
    padding-left:15px;
    display:none;
    position: absolute;
}
.menu-toggle span{
    width:25px;
    height:4px;
    display:block;
    background-color: #333;
    margin:4px;
    transition: 0.4s all;
    -webkit-transition: 0.4s all;
    -moz-transition: 0.4s all;
    -ms-transition: 0.4s all;
    -o-transition: 0.4s all;
}
.menu-toggle.active span:nth-child(1){
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -o-transform:rotate(45deg);
}
.menu-toggle.active span:nth-child(2){
    display: none;
}
.menu-toggle.active span:nth-child(3){
    transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
}
.menu-toggle.active span{
    position: absolute;
    top:calc(50% - -16px);
}
nav{
    position: relative;
    width: 100%;
}
nav ul{
    position: relative;
    display: block;
    float:right;
    padding-right: 15px;
}
nav ul li{
    display: inline-block;
}
nav li a{
    text-decoration: none;
    padding:15px;
    display: block;
    color:#333;
}
nav ul li a:hover{
    text-decoration: none;
    background-color: #fff;
}
nav ul li:hover{
    background-color: #fff;
}
nav ul ul{
    display:none;
    position: absolute;
    top:50px;
    min-width:200px;
    box-shadow: 0px 2px 10px rgba(0,0,0,.09);
}
nav ul ul li{
    display: block;
}
nav ul ul li a:hover{
    background: #f3f2f2;
}
nav ul li:hover > ul li{
    background-color: #fff;
}
nav li:hover ul{
    display:block;
}
.mob_desktop{
    display:none;
}
.mob_hide{
    display:block;
}
.banner{
    min-height: calc(100vh - 60px);
    position: relative;
    z-index:-1;
}
.banner:after{
    content:'';
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    position: absolute;
    top:0;
    left: 0;
    right:0;
    bottom: 0;
    z-index: 1;
}
.banner-text{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:100%;
    z-index: 5;
    text-align: center;
}
.banner-text h1{
    position: relative;
    z-index: 2;
    font-size: 4rem;
    color:#fff;
}
.main-btn{
    position: relative;
    z-index: 10;
    margin:15px 0;
    padding:15px;
    font-size: 1.2rem;
    background-color: #443cd3;
    color: #fff;
    border: none;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    cursor: pointer;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    transition: background-color 0.5s ease-in-out;
}
@media (max-width:1200px){
    .container{
        max-width:1140px;
    }
    header .logo{
        width:15%;
    }
}
@media (max-width:992px){
    .container{
        max-width:960px;
    }
    header .logo{
        width:15%;
    }
}
@media (max-width:767px){
    .container{
        max-width:720px;
    }
}
@media (max-width:576px){
    .px-0{
        padding:0px;
    }
    .container{
        max-width:540px;
    }
    header .logo{
        float:left;
        padding:20px 0px;
        width:30%;
        text-align: center;;
    }
    nav{
        display:flex;
    }
    nav ul{
        display:none;
        position: absolute;
        top:62px;
        width:100%;
        background-color: #fff;
        z-index:100;
    }
    nav ul li{
        display: block;
    }
    nav ul ul{
        position: static;
        background-color: #fff;
        box-shadow:none;
    }
    nav ul ul li{
        background-color: #fff;;
    }
    .menu-toggle{
        display: block;
    }
    header .logo.mob_hide{
        display: none;
    }
    .mob_desktop{
        display: block;
        margin:auto;
    }
    .header_shadow{
        box-shadow:none;;
        border-bottom:1px solid #eee;
    }
    .banner-text h1{
        font-size: 2rem;
    }
}
